<div class="uk-margin-medium-top uk-margin-medium-bottom uk-margin-medium-left uk-margin-medium-right">
	<div class="uk-margin-medium-bottom">
        <div class="uk-flex uk-width-1-1">
        	<div class="icon-search">
		    	<i uk-icon="search" class="uk-margin-small-left"></i> 
		  	</div>
		  	<div class="ng-autocomplete">         
		    	<ng-autocomplete 
			        [data]="data" 
			        [searchKeyword]="keyword" 
			        (selected)='selectEvent($event)'
			        (inputChanged)='onChangeSearch($event)' 
			        (inputFocused)='onFocused($event)' 
			        [itemTemplate]="itemTemplate" 
			        (inputCleared)="searchCleared()"
			        [notFoundTemplate]="notFoundTemplate" 
			        [debounceTime]="600" 
			        [isLoading]="isLoadingResult" 
			        [minQueryLength]="1" 
			        placeholder="Поиск">
		    	</ng-autocomplete>
			    <ng-template #itemTemplate let-item>
			      <a (click)="goToRecipe(item.idRecipe)">
			        <div class="uk-flex">
			          <div>
			            <img [appRecipeImage]="[item.idRecipe]" class="uk-border-rounded uk-margin-small-right image-recipe-search" alt="Main Ingredient Picture" />
			          </div>
			          <div class="uk-margin-small-top">
			            <span [innerHTML]="item.recipeName"></span>
			          </div>
			        </div>
			      </a>
			    </ng-template>
			    <ng-template #notFoundTemplate let-notFound>
			        {{errorMsg}}
			    </ng-template>
  			</div> 
		</div>
	</div>
	<div>
		<div class="uk-overflow-auto">
		    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
		        <thead>
		            <tr>
		                <th class="uk-table-shrink">Фотография готового блюда</th>
		                <th class="uk-table-expand">Название</th>
		                <th class="uk-table-small">Автор</th>
		                <th class="uk-width-small">Дата создания</th>
		                <th class="uk-table-shrink">Действие</th>
		            </tr>
		        </thead>
		        <tbody *ngFor="let recipe of recipes | paginate: config">
		        	<tr>
		                <td>
		                	<a (click)="goToRecipe(recipe.idRecipe)"><img [appRecipeImage]="[recipe.idRecipe]" class="image-recipe uk-preserve-width uk-border-rounded" alt="{{recipe.recipeName}}"/></a>
		                	</td>
		                <td class="uk-table-nowrap">
		                	<a class="uk-link-muted" (click)="goToRecipe(recipe.idRecipe)">{{recipe.recipeName}}</a>
		                </td>
		                <td class="uk-table-nowrap">
		                	<a class="uk-link-muted" (click)="goToAuthor(recipe.idAuthor)">{{recipe.authorName}}</a>
		                </td>
		                <td class="uk-table-nowrap">{{recipe.createdDate}}</td>
		                <td><button class="uk-button uk-button-danger uk-border-rounded" type="button" (click)="deleteRecipe(recipe.idRecipe)">Удалить</button></td>
		            </tr>
		        </tbody>
		    </table>
		    <div class="uk-margin-large-top uk-text-small uk-flex uk-flex-center">
			  <pagination-controls id="recipesAdmin" previousLabel="Назад" nextLabel="Далее" [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>
			</div>
		</div>
	</div>
</div>
