<div class="uk-margin-medium-top uk-margin-medium-bottom uk-margin-medium-left uk-margin-medium-right">
	
	<div class="uk-margin-medium-bottom">
	    <form class="uk-search uk-search-default uk-width-1-1">
	        <span uk-search-icon></span>
	        <input class="uk-search-input uk-border-rounded" type="search" placeholder="Search">        
	    </form>
	</div>
	

	<div class="">
		<div class="uk-overflow-auto">
		    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
		        <thead>
		            <tr>
		            	
		                <th class="uk-table-shrink">Image</th>
		                <th class="uk-table-expand">Name</th>
		                <th class="uk-table-expand">Author</th>
		                <th class="uk-width-small">Created date</th>
		                <th class="uk-table-shrink">Action</th>

		            </tr>
		        </thead>
		        <tbody>
		        	<tr>
		                
		                <td><img class="image-recipe uk-preserve-width uk-border-circle" src="/assets/img/about-pic2.jpg"  alt=""></td>
		                <td class="uk-table-nowrap">Name</td>
		                <td class="uk-text-nowrap">Name Surname</td>
		                <td class="uk-text-nowrap">16 jan 2021</td>
		                <td><button class="uk-button uk-button-default" type="button">Button</button></td>
   
		            </tr>
		            <tr>
		                
		                <td><img class="image-recipe uk-preserve-width uk-border-circle" src="/assets/img/about-pic2.jpg"  alt=""></td>
		                <td class="uk-table-nowrap">Name</td>
		                <td class="uk-text-nowrap">Name Surname</td>
		                <td class="uk-text-nowrap">16 jan 2021</td>
		                <td><button class="uk-button uk-button-default" type="button">Button</button></td>

		            </tr>
		            <tr>
		               
		                <td><img class="image-recipe uk-preserve-width uk-border-circle" src="/assets/img/about-pic2.jpg"  alt=""></td>
		                <td class="uk-table-nowrap">Name</td>
		                <td class="uk-text-nowrap">Name Surname</td>
		                <td class="uk-text-nowrap">16 jan 2021</td>
		                <td><button class="uk-button uk-button-default" type="button">Button</button></td>

		            </tr>
		            <tr>
		                
		                <td><img class="image-recipe uk-preserve-width uk-border-circle" src="/assets/img/about-pic2.jpg"  alt=""></td>
		                <td class="uk-table-nowrap">Name</td>
		                <td class="uk-text-nowrap">Name Surname</td>
		                <td class="uk-text-nowrap">16 jan 2021</td>
		                <td><button class="uk-button uk-button-default" type="button">Button</button></td>

		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
</div>


