/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One:400,500,600&display=swap');

@import "~@ng-select/ng-select/themes/default.theme.css";

/* Font Family */
html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background: #fff;
    color: #4a4a4a;
}



