<footer class="uk-section uk-section-default">
	<hr class="uk-margin-large-left uk-margin-large-right uk-margin-medium-bottom">
	<div class="uk-container">
		<div class="uk-margin-medium-bottom logo-text">
			<a [routerLink]="['/']" class="uk-text-medium uk-text-bolder">Книга рецептов</a>
		</div>
		<div class="uk-text-small uk-text-400 uk-child-width-1-4@m" data-uk-grid>
			<div>
				<a class="uk-link-text" [routerLink]="['/']">Главная</a>
			</div>
			<div>
				<a class="uk-link-text" [routerLink]="['/random-recipe']">Случайный рецепт</a>	
			</div>
			<div>
				<a class="uk-link-text" [routerLink]="['/contact']">Обратная связь</a>	
			</div>
			<div>
				<a class="uk-link-text" [routerLink]="['/about']">О компании</a>	
			</div>
		</div>
		<div class="uk-margin-medium-top uk-text-small uk-text-muted">				
			<div>Разработка сайта <a class="uk-link-muted" href="https://github.com/maruvuina" target="_blank">maruvuina</a>
			</div>
			<div>Все права защищены 2020 - 2021 ©</div>
		</div>
	</div>
</footer>
