<div class="uk-grid-collapse" data-uk-grid>
  <div class="uk-width-1-2@m uk-padding-large uk-flex uk-flex-middle uk-flex-center" data-uk-height-viewport>
    <div class="uk-width-3-4@s">
      <div class="uk-text-center uk-margin-bottom">
        <a class="uk-logo uk-text-primary uk-text-bold" [routerLink]="['/']">Книга рецептов</a>
      </div>
      <div class="uk-text-center uk-margin-medium-bottom">
        <h1 class="uk-h2 uk-letter-spacing-small">Авторизация</h1>
      </div>
    
      <form class="uk-text-center" [formGroup]="loginForm" novalidate (ngSubmit)="login()">
        <div class="uk-width-1-1 uk-margin">
          <label class="uk-form-label" for="email">Электронная почта</label>
          <input id="email" class="uk-input uk-form-large uk-border-pill uk-text-center" type="email" placeholder="tom@company.com" formControlName="username" name="email"/>
          <div class="not-valid uk-margin-small-top" *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
            <span class="uk-form-danger" >
            Некорректный адрес электронной почты
            </span>
          </div>
        </div>
        <div class="uk-width-1-1 uk-margin">
          <label class="uk-form-label" for="password">Пароль</label>
          <input id="password" class="uk-input uk-form-large uk-border-pill uk-text-center" type="password" placeholder="Минимум 8 символов" formControlName="password" name="password"/>
          <div class="not-valid uk-margin-small-top" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
            <span class="uk-form-danger" >
              Некорректный пароль
            </span>
          </div>
        </div>
        <div class="uk-width-1-1 uk-text-center">
          <button [disabled]="loginForm.invalid" class="uk-button uk-border-pill uk-button-secondary uk-button-large button-login">Войти</button>
        </div>
      </form>

      <div class="uk-width-1-1 uk-margin uk-text-center">
        <p class="uk-text-small uk-margin-remove">Вернуться на <a class="uk-link-border" [routerLink]="['/']">главную</a></p>
      </div>
      <div class="uk-form-danger" *ngIf='this.isError'>
        <p class="uk-text-small uk-link-muted">Возникла ошибка. Пожалуйста, проверьте введенны данные и попробуйте еще раз.</p>   
      </div>
    </div>
  </div>
  <div class="uk-width-1-2@m uk-padding-large uk-flex uk-flex-middle uk-flex-center uk-light" data-uk-height-viewport>
    <div class="uk-background-cover uk-background-norepeat uk-background-blend-overlay uk-background-overlay 
      uk-border-rounded-large uk-width-1-1 uk-height-xlarge uk-flex uk-flex-middle uk-flex-center">
      <div class="uk-padding-large">
        <div class="uk-text-center">
          <h2 class="uk-letter-spacing-small">Присоединяйтесь к нам!</h2>
        </div>
        <div class="uk-margin-top uk-margin-medium-bottom uk-text-center">
          <p>Заполните форму и вступите в ряды кулинаров</p>
        </div>
        <div class="uk-width-1-1 uk-text-center">
          <a [routerLink]="['/signup']" class="uk-button uk-button-primary uk-button-large uk-border-pill">Зарегистрироваться</a>
        </div>
      </div>
    </div>
  </div>
</div>
