.uk-background-cover {
	background-image: url('/assets/img/login-picture.jpg');
}

.uk-logo {
    font-size: 1.5625rem;
    font-family: "Leckerli One", cursive;
    color: #eb4a36;
    text-decoration: none;
    font-weight: 400;
}

.uk-text-primary {
    color: #eb4a36 !important;
}

.uk-h2 {
    margin: 0 0 20px 0;
    font-family: "Montserrat", san-serif;
    font-weight: 600;
    color: #000;
    text-transform: none;
}

.uk-button-large {
    padding: 0 40px;
    line-height: 46px;
    font-size: 0.975rem;
}

.uk-button-primary {
    background-color: #eb4a36;
    color: #fff;
    border: 1px solid transparent;
}

.uk-button-primary:active {
    background-color: #d82b16;
    color: #fff;
}

.uk-form-label {
    color: #333;
    font-size: 0.875rem;
}

.uk-form-large {
    border-width: 2px;
    font-size: 0.875rem;
}

.uk-form-large:not(textarea):not([multiple]):not([size]) {
    height: 48px;
    padding-left: 12px;
    padding-right: 12px;
}

.uk-input {
    max-width: 100%;
    width: 100%;
    padding: 0 10px;
    background: #fff;
    color: #4a4a4a;
    border: 2px solid #eaecf0;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;
}

.uk-height-xlarge {
    height: 550px;
}

.uk-border-rounded-large {
    border-radius: 20px;
}

.uk-link-border {
    color: #4a4a4a;
    text-decoration: underline;
}

.uk-link-border:hover {
    color: #ED4B35;
}

.uk-light {
    color: #fff;
}

.uk-text-small {
    color: #000;
}

.uk-input:focus {
    outline: none;
    background-color: #fff;
    color: #4a4a4a;
    border-color: #eb4a36;
}

.not-valid {
    border: 1px double #f0506e;
    border-radius: 10px;
}

.button-login {
  border: 1px solid;
}
