<app-nav></app-nav>
<div class="uk-section uk-section-default">
	<div class="uk-container">
	    <div data-uk-grid>
	      	<div class="uk-width-1-4@m sticky-container">
		        <div data-uk-sticky="offset: 100; bottom: true; media: @m;" class="admin-list uk-border-rounded">
		          	<div class="uk-nav-default uk-nav-filter uk-margin-small-top" data-uk-nav>
		          		
			            <div class="uk-margin-small-bottom">
			              <span class="uk-margin-medium-left uk-margin-small-right uk-margin-medium-top" uk-icon="user"></span><a class="admin-list-href" (click)="changeAdminAppearance('profile')">Профиль</a>
			            </div>

			            <div class="uk-margin-small-bottom">
			              <span class="uk-margin-medium-left uk-margin-small-right" uk-icon="users"></span><a class="admin-list-href" (click)="changeAdminAppearance('users')">Пользователи</a>
			            </div>

			            <div class="uk-margin-small-bottom">
			              <span class="uk-margin-medium-left uk-margin-small-right" uk-icon="list"></span><a class="admin-list-href" (click)="changeAdminAppearance('recipes')">Рецепты</a>
			            </div>

			            <div class="uk-margin-small-bottom">
			              <span class="uk-margin-medium-left uk-margin-small-right" uk-icon="grid"></span><a class="admin-list-href" (click)="changeAdminAppearance('tags')">Теги</a>
			            </div>

			            <div class="uk-margin-small-bottom">
			              <span class="uk-margin-medium-left uk-margin-small-right" uk-icon="more-vertical"></span><a class="admin-list-href" (click)="changeAdminAppearance('ingredients')">Ингредиенты</a>
			            </div>

			            <div class="uk-margin-small-bottom">
			              <span class="uk-margin-medium-left uk-margin-small-right uk-margin-medium-bottom" uk-icon="more"></span><a class="admin-list-href" (click)="changeAdminAppearance('cuisines')">Кухни</a>
			            </div>

			         </div>
			    </div>
			</div>
			<div class="uk-width-expand@m">
				<div class="uk-flex uk-flex-left">
				  	<div class="uk-width-expand@m">
					  	<div class="uk-child-width-1-1@m" uk-grid>
					  		<div *ngIf="isProfile">
					  			<app-admin-profile [id]="id"></app-admin-profile>
					  		</div>

					  		<div *ngIf="isUsers">
					  			<app-user-list></app-user-list>
					  		</div>

					  		<div *ngIf="isRecipes">
					  			<app-recipe-admin-list></app-recipe-admin-list>
					  		</div>

					  		<div *ngIf="isTags">
					  			tags
					  		</div>

					  		<div *ngIf="isIngredients">
					  			ing
					  		</div>

					  		<div *ngIf="isCuisines">
					  			cuisine
					  		</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<app-footer></app-footer>
