<app-nav></app-nav>
<div class="uk-container">
	<div class="uk-child-width-1-2@m" uk-grid>
	    <div>
	        <div class="uk-card uk-card-default uk-border-rounded">
	            <div class="uk-card-media-top">
	                <img class="img-1" src="/assets/img/about-pic1.jpg" alt="">
	            </div>
	            <div class="uk-card-body">
	                <h3 class="uk-card-title">Что такое «Книга рецептов»?</h3>
	                <p>Это социальная сеть для тех, кто любит и ценит вкусную домашнюю еду.  
		            Здесь вы найдете множество новых кулинарных идей, станете автором собственной Кулинарной книги.</p>
	            </div>
	        </div>
	    </div>
	    <div>
	        <div class="uk-card uk-card-default uk-border-rounded">
	            <div class="uk-card-body">
	                <h3 class="uk-card-title">Не умеете готовить?!</h3>
	                <p>Исправить это очень просто - почаще заглядывайте к нам в гости и Вы не только научитесь, но и полюбите готовить! Самый главный секрет вкусного блюда - это хорошее настроение и уверенность в том, что у Вас все получится!</p>
	            </div>
	            <div class="uk-card-media-bottom">
	                <img class="img-2" src="/assets/img/about-pic2.jpg" alt="">
	            </div>
	        </div>
	    </div>
	</div>
</div>
<app-footer></app-footer>
