<hr class="uk-margin-medium-top uk-margin-large-bottom">
<h3>Комментарии</h3>
<div *ngIf="!isComments">
	Пока нету.
</div>
<div *ngIf="isComments">
	<ng-template #recursiveList let-list>
		<ul class="uk-comment-list uk-margin-medium-top">
			<li *ngFor="let item of list">
				<article class="uk-comment uk-visible-toggle" tabindex="-1">
				  <header class="uk-comment-header uk-position-relative">
				  	<div class="uk-grid-medium uk-flex-middle" data-uk-grid>
				      <div class="uk-width-auto">
				        <img class="uk-comment-avatar image-user uk-border-circle" [appUserImage]="[item.idUser]" alt="item.username">
				      </div>
				      <div class="uk-width-expand">
				        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" (click)="goToAuthor(item.idUser)">{{item.username}}</a></h4>
				        <p class="uk-comment-meta uk-margin-remove">{{item.createdDate}}</p>
				      </div>
				      <div class="uk-position-top-right uk-position-small">
				      	<a class="uk-link-muted" (click)="reply(item.idComment)">Ответить
				      	</a>
				      </div>
				  	</div>
					</header>
					<div class="uk-comment-body">
						<p>{{item.content}}</p>
					</div>
					<hr class="uk-margin-medium-top">
				</article>
				<div *ngIf="isReply && currentIdComment == item.idComment">
					<form class="" [formGroup]="commentForm" novalidate (ngSubmit)="commentReply(item.idComment)">
						<div>
						  <textarea class="uk-border-rounded uk-width-1-1" rows="10" formControlName="text"></textarea>
						</div>
						<div class="uk-margin-small-top">
						  <button [disabled]="commentForm.invalid" class="uk-button uk-button-medium uk-border-pill uk-button-secondary">
						    Отправить
						  </button>
						</div>
					</form>
				</div>
		      <ul class="uk-comment-list uk-margin-small-top" *ngIf="item.children.length > 0">
		        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
		      </ul>
		    </li>	
		</ul>
	</ng-template>
	<ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: comments }"></ng-container>
</div>
<h3>
	<a [ngClass]="{'muted-link': visibility}" class="uk-link-muted" (click)="add()">Написать комментарий
	</a>
</h3>
<div *ngIf="isAddComment">
	<form class="" [formGroup]="commentForm" novalidate (ngSubmit)="addComment()">
		<div>
		  <textarea class="uk-border-rounded uk-width-1-1" rows="10" formControlName="text"></textarea>
		</div>
		<div class="uk-margin-small-top">
		  <button [disabled]="commentForm.invalid" class="uk-button uk-button-medium uk-border-pill uk-button-secondary">
		    Отправить
		  </button>
		</div>
	</form>
</div>
