.image-user {
  width: 330px;
  height: 330px;
}

.image-follower {
  width: 150px;
  height: 150px;
}

.uk-button-primary {
  background-color: #32d296;
  color: #fff;
  border: 1px solid transparent;
}

.uk-button-primary:active {
  background-color: #292D30;
  color: #fff;
}

.uk-button-primary:hover, 
.uk-button-primary:focus {
  background-color: #292D30;
  color: #fff;
}

.image-recipe {
  width: 269px;
  height: 179px;
  border-radius: 10px;
}

::ng-deep .ngx-pagination .current {
  background: #eb4a36 !important;
  color: #fefefe !important;
  border-radius: 10px !important;
}

::ng-deep .ngx-pagination a:hover {
  border-radius: 10px !important;
}
