<div class="uk-flex uk-flex-right uk-margin-small-bottom">
  <div class="uk-width-1-3@m uk-text-right@m">
    <select (change)="selectHandler($event.target.value)" class="uk-select uk-select-light uk-width-auto uk-border-pill uk-select-primary">
      <option value="null">Выбрать сортировку</option>
      <option *ngFor="let sortType of sortTypes" [value]="sortType.sortType">{{sortType.description}}</option>
    </select>
  </div>
</div>

<div class="uk-child-width-1-3@s" uk-grid>
  <div *ngFor="let recipe of recipes | paginate: config">
    <div class="uk-inline uk-light">
      <a [routerLink]="['recipes', recipe.idRecipe]"><img [appRecipeImage]="[recipe.idRecipe]" class="uk-border-rounded-medium image-recipe" alt="{{recipe.recipeName}}"/></a>
      <div class="uk-position-xsmall uk-position-top-right">         
        <app-like [recipe]="recipe"></app-like>  
      </div>
    </div>
    <div>
      <h5 class="uk-text-bold uk-margin-small-bottom uk-margin-top"><a [routerLink]="['recipes', recipe.idRecipe]" class="uk-link-muted">{{recipe.recipeName}}</a></h5>
      <div class="uk-text-small uk-text-muted" data-uk-grid>
        <div class="uk-width-auto uk-flex uk-flex-middle">
          <span>{{recipe.createdDate}}</span>
        </div>
        <div class="uk-width-expand uk-text-right"><a (click)="goToAuthor(recipe.idAuthor)">{{recipe.authorName}}</a></div>
      </div>
    </div>
  </div>
</div>
<div class="uk-margin-large-top uk-text-small uk-flex uk-flex-center">
  <pagination-controls previousLabel="Назад" nextLabel="Далее" [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>
</div>